@model IEnumerable<TopicalProject.Movie>

@{
    ViewBag.Title = "Movie List";
}

<h2>Movies</h2>

@using (Html.BeginForm())
{
    <div id="FilterSearch" class="form-horizontal">

        <div class="form-group">
            @Html.Label("Search by Title", htmlAttributes: new { @class = "control-label col-md-2" })
            @Html.TextBox("searchCriteria", null, new { @class = "form-control" })
        </div>

        <div class="form-group">
            @Html.Label("Filter by Year Released", htmlAttributes: new { @class = "control-label col-md-2" })
            @Html.DropDownList("yearFilter",
                                  new SelectList(ViewBag.Years),
                                  "All Years",
                                  new { @class = "form-control" })
        </div>

        <div class="form-group">
            <input type="submit" value="Find Movies" class="btn col-md-2 col-md-offset-2" />
            <input type="button" value="Reset Movie List" onclick="location.href='@Url.Action("Index","Movie")'" class="btn col-md-2 col-md-offset-2" />
        </div>

    </div>
}

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.ActionLink(@Html.DisplayNameFor(model => model.Title).ToHtmlString(), "Index", new { sortOrder = "Title" })
        </th>
        <th>
            @Html.ActionLink(@Html.DisplayNameFor(model => model.Release.Year).ToHtmlString(), "Index", new { sortOrder = "Year" })
        </th>
        <th>
            @Html.ActionLink(@Html.DisplayNameFor(model => model.Director).ToHtmlString(), "Index", new { sortOrder = "Director" })
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Release.Year)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Director)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.ID }) |
                @Html.ActionLink("Details", "Details", new { id = item.ID }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.ID })
            </td>
        </tr>
    }

</table>
